Cargar la Informacion

In [3]:
import pandas as pd
url = 'https://github.com/JaviBrenes/dataset/blob/main/Mall_Customer.xlsx?raw=true'
df = pd.read_excel(url)

Limpieza de datos

In [ ]:
# Limpieza de Datos: Mostrar información básica del dataset
print("\nInformación del dataset:")
print(df.info())

# Limpieza de Datos: Comprobar valores nulos
print("\nValores nulos en el dataset:")
print(df.isnull().sum())

# Limpieza de Datos: Eliminación de filas duplicadas (si existen)
df.drop_duplicates(inplace=True)

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

Valores nulos en el dataset:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

Formateo de Datos y almacenamiento en una base de datos Sqlite

In [ ]:
import sqlite3

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('Mall_Customer.db')

cursor = conexion.cursor()

cursor.execute("""
CREATE TABLE clientes (
    CustomerID INTEGER PRIMARY KEY,
    Gender TEXT,
    Age INTEGER,
    Annual_Income INTEGER,
    Spending_Score INTEGER
);
""")

# Convierte el DataFrame a una lista de registros
datos = df.values.tolist()

# Inserta cada registro en la tabla "clientes"
cursor.executemany("""
INSERT INTO clientes (CustomerID, Gender, Age, Annual_Income, Spending_Score)
VALUES (?, ?, ?, ?, ?)
""", datos)

conexion.commit()
conexion.close()